{% extends 'base.html'%}

{% block head %}
<title>Posts</title>

{% endblock %}

{% block body %}
<h1>Some Posts</h1>
    <hr>
    <h2>Create New Blog Post:</h2>
    <form action="/posts" method="POST">
        <label for="title">Title:</label> 
        <!-- <input type="text" name="title" id="title"> -->
        <input class="form-control" type="text" name="title" id="title" placeholder="Enter Title" aria-label="Enter Title">
        <br>
        <label for="author">Author:</label>  
        <!-- <input type="text" name="author" id="author"> -->
        <input class="form-control" type="text" name="author" id="author" placeholder="Enter Author" aria-label="Enter Author">
        <br>
        <label for="content">Post:</label> 
        <textarea class="form-control" name="content" id="content" rows="3" placeholder="Enter Content" aria-label="Enter Content"></textarea>
        <br>       
        <input class="btn btn-primary" type="submit" value="Post">
    </form>
    <hr>
    {% for post in posts %}
        <br>
        <h2>{{ post.title }}</h2>
        {% if post.author %}
            <small>Written by {{ post.author }} on {{ post.date_posted }}</small>
        {% else %}
            <small>Written by Unknown on {{ post.date_posted }}</small>
        {% endif %}
        <br>
        <br>
        <p style="white-space: pre-wrap;">{{ post.content }}</p>
        <button class="btn btn-danger" type="button" onclick="document.location = '/posts/delete/{{ post.id }}' ">Delete</button>
        <button class="btn btn-primary" type="button" onclick="document.location = '/posts/edit/{{ post.id }}' ">Edit</button>
        <hr>
        <!-- <a href="/posts/delete/{{ post.id }}">Delete</a> -->
        
    {% endfor %}
    <!-- {% for post in posts %}
        <h2>{{post.title}}</h2>
        <p>{{post.content}}</p>
    {% endfor %} -->

{% endblock %}